main {
  padding-top: 200px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
input {
  display: block;
  height: 48px;
  width: 420px;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 20px;
}

.continue__btn {
  width: 420px;
  height: 48px;
  flex-shrink: 0;
  color: var(--ffffff, #FFF);
  text-align: center;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 40px 0px;
  border-radius: 4px;
  background: var(--01-bab-3, #01BAB3);
  border: none;
}

.section__card__text {
  color: #01BAB3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.welcome__title {
  text-align: center;
  padding-bottom: 10px;
}