
.name {
  display: flex;
  margin: 40px 0px;
  gap: 20px;
}

select {
  height: 48px;
  width: 200px;
  border-radius: 5px;
}
label {
  color: var(--01-bab-3, #01BAB3);
  color: #444150;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
